@font-face {
    font-family: "Roboto_Slab";
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}


.base {
    width: 100vw;
    margin: 0;
    padding: 3vw;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#formPersona {
    width: 80%;
    padding-bottom: 3vh;
    background-color: #423e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    color: #ffffff;
    font-family: "Roboto_Slab";
    font-size: 1.2rem;
}

#logo {
    width: 20%;
}

.ingresarDatos {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    outline: none;
    background: #ffffff;

    margin: 0;
    padding: 0;

    font: inherit;
    color: #000;
    width: 50vw;
}

#foto {
    display: none;
}


.botonFoto {

    display: inline-block;

    padding: 10px 20px;
    margin-bottom: 5%;

    background: #161616;

    color: white;

    border-radius: 8px;

    cursor: pointer;

}


.botonFoto:hover {

    background: #2b2929;

}

#imagenDNI {
    display: none;
}

#fotoTarjeta {
    width: 30%;
    margin-bottom: 3vh;
}

#guardar {
    color: #ffffff;
    display: inline-block;

    padding: 10px 20px;
    margin-top: 3vh;

    background: #161616;

    border-radius: 8px;

    cursor: pointer;
}

#guardar:hover {
    background-color: #2b2929;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 100%;
    position: absolute;
}



#modalRecorte{

    position:fixed;
    inset:0;

    display:none;

    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.75);

    z-index:9999;

}

#ventanaRecorte{

    width:min(90vw,500px);
    height:min(90vh,700px);

    display:flex;
    flex-direction:column;

    background:#ffffff;

    border-radius:10px;

    padding:20px;

    box-sizing:border-box;

}

#ventanaRecorte h2{

    margin:0 0 15px;
    color: #000;

    text-align:center;

}

#botonesRecorte{

    display:flex;

    justify-content:flex-end;

    gap:10px;

    margin-top:20px;

}

.botonRecorte {
    color: #ffffff;
    display: inline-block;

    padding: 10px 20px;

    background: #161616;

    border-radius: 8px;

    cursor: pointer;
}

.botonRecorte:hover {
    background-color: #423e3e;
}

#contenedorCropper{

    flex:1;

    overflow:hidden;

    min-height:0;

    position:relative;

}

#imagenRecortar{

    display:block;
    width:100%;
    max-width: 100%;

}